@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Body {
  width: 100vw;
  min-height: 100vh;
  background-color: #f9f0ff;
  font-family: "Work Sans";
}
.Img {
  width: 100vw;
  height: 35%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/images/WhatsApp\ Image\ 2025-02-04\ at\ 17.53.00_7172fc8b.jpg);
}
.Section {
  width: 420px;
  min-height: 400px;
  background-color: white;

  position: relative;
  /* left: 450px; */
  top: 190px;
  /* right: 50px; */
  box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Inside-Faq {
  width: 370px;
  min-height: 350px;
  padding: 10px;
  /* background-color: brown; */
}
.Icon-holder {
  height: 55px;
  width: 100%;
  /* background-color: green; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
}
.Faq {
  font-size: 30px;
  font-weight: 600;
}
.Svg {
  display: flex;
  align-items: center;
}
.First-question-holder {
  width: 96%;
  height: 30px;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.First-question {
  font-size: 12px;
  margin-top: 10px;
  font-weight: 650;
  color: hsl(292, 42%, 14%);

  /* display: flex;
  justify-content: center;
  align-items: center; */
}
:hover.First-question {
  color: #ad28eb;
  cursor: pointer;
}
.Svg-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
  /* background-color: blue; */
}
.First-answer {
  font-size: 10px;
  line-height: 15px;
  color: hsl(292, 16%, 49%);
}
.First-answer-div {
  width: 90%;
  height: 75px;
  /* background-color: burlywood; */
  margin-top: 12px;
  border-bottom: 1px solid silver;
}
.Second-question-holder {
  width: 96%;
  height: 30px;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.Second-question {
  font-size: 12px;
  margin-top: 10px;
  font-weight: 650;
  color: hsl(292, 42%, 14%);
}
:hover.Second-question {
  color: #ad28eb;
  cursor: pointer;
}
.Second-answer-div {
  width: 90%;
  height: 75px;
  /* background-color: burlywood; */
  margin-top: 12px;
  border-bottom: 1px solid silver;
}
.Second-answer {
  font-size: 10px;
  line-height: 15px;
  color: hsl(292, 16%, 49%);
}
.Third-question-holder {
  width: 96%;
  height: 30px;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.Third-question {
  font-size: 12px;
  margin-top: 10px;
  font-weight: 650;
  color: hsl(292, 42%, 14%);
}
:hover.Third-question {
  color: #ad28eb;
  cursor: pointer;
}
.Third-answer-div {
  width: 90%;
  height: 75px;
  /* background-color: burlywood; */
  margin-top: 12px;
  border-bottom: 1px solid silver;
}
.Third-answer {
  font-size: 10px;
  line-height: 15px;
  color: hsl(292, 16%, 49%);
}
.Fourth-question-holder {
  width: 96%;
  height: 30px;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.Fourth-question {
  font-size: 12px;
  margin-top: 10px;
  font-weight: 650;
  color: hsl(292, 42%, 14%);
}
:hover.Fourth-question {
  color: #ad28eb;
  cursor: pointer;
}
.Fourth-answer-div {
  width: 90%;
  height: 75px;
  /* background-color: burlywood; */
  margin-top: 12px;
  border-bottom: 1px solid silver;
}
.Fourth-answer {
  font-size: 10px;
  line-height: 15px;
  color: hsl(292, 16%, 49%);
}
.First-hidden {
  display: none;
}
.Second-hidden {
  display: none;
}
.Third-hidden {
  display: none;
}
.Fourth-hidden {
  display: none;
}

.first-minus {
  display: none;
}
.second-minus {
  display: none;
}
.third-minus {
  display: none;
}
.fourth-minus {
  display: none;
}
